[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
numpy = "*"
scikit-learn = "*"
sklearn = "*"
joblib = "*"
xgboost = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
