<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicting Car Price</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>

<body bgcolor="white">

<p align="center" class="heading"><b>Fair Car Value Estimator</b></p>
<div align="center">
    <form action="{{ url_for('predict')}}" method="POST">
        <div class="b"><b>Model Year</b><br>
            <input class="a" type="Number" name ="Year" required="required"></div>

        <div class="b"><b>Brand Name</b><br>
            <select name="Brand_Name" class="a">
                <option value="Audi">Audi</option>
                <option value="BMW">BMW</option>
                <option value="Ford">Ford</option>
                <option value="Holden">Holden</option>
                <option value="Hyundai">Hyundai</option>
                <option value="Mercedes-Benz">Mercedes-Benz</option>
                <option value="Nissan">Nissan/option>
            </select></div>

        <div class="b"><b>Model Name</b><br>
            <select name="Model_Name" class="a">
            <option value="3 Series">3 Series</option>
            <option value="5 Series">5 Series</option>
            <option value="7 Series">3 Series</option>
            <option value="A-Class">A-Class</option>
            <option value="A3">A3</option>
            <option value="A4">A4</option>
            <option value="Acadia">Acadia</option>
            <option value="Accent">Accent</option>
            <option value="Astra">Astra</option>
            <option value="Captiva">Captiva</option>
            <option value="EcoSport">EcoSport</option>
            <option value="Elantra">Elantra</option>
            <option value="Endura">Endura</option>
            <option value="Equinox">Equinox</option>
            <option value="Escape">Escape</option>
            <option value="Everest">Everest</option>
            <option value="Focus">Focus</option>
            <option value="C-Class">C-Class</option>
            <option value="E-Class">E-Class</option>
            <option value="S-Class">S-Class</option>
            <option value="G-class">G-class</option>
            <option value="GLA-Class">GLA-Class</option>
            <option value="GLC">GLC</option>
            <option value="GLC-Class">GLC-Class</option>
            <option value="GLE">GLE</option>
            <option value="GLE-Class">GLE-Class</option>
            <option value="GLS-Class">GLS-Class</option>
            <option value="Juke">Juke</option>
            <option value="Kona">Kona</option>
            <option value="Pathfinder">Pathfinder</option>
            <option value="Patrol">Patrol</option>
            <option value="Qashqai">Qashqai</option>
            <option value="Q7">Q7</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Sonata">Sonata</option>
            <option value="Trailblazer">Trailblazer</option>
            <option value="Trax">Trax</option>
            <option value="Tucson">Tucson</option>
            <option value="Venue">Venue</option>
            <option value="X-TRAIL">X-TRAIL</option>
            <option value="i40">i40</option>
            <option value="X1">X1</option>
            <option value="X2">X2</option>
            <option value="X3">X3</option>
            <option value="X4">X4</option>
            <option value="X5">X5</option>
            <option value="X6">X6</option>
            <option value="X7">X7</option>
        </select></div>

        <div class="b"><b>Odometer</b><br>
            <input type="Number" name="Odometer" required="required" class="a"></div>

        <div class="b"><b>Condition</b><br>
            <select name="Condition" class="a">
                <option value="1">1 - Excellent</option>
                <option value="2">2 - Very Good</option>
                <option value="3">3 - Fair</option>
                <option value="4">4 - Poor</option></select></div>

        <div class="c" align="center"><button type="submit" class="d">Calculate Fair Value!</button></div>
    </form></div>
<p align="center" class="heading">{{ prediction_text }}</p>

<p>© 2021 PHOTOGRAM ALL RIGHTS RESERVED</p>
</body>
</html>
