<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicting Car Price</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>

<body bgcolor="white">

<p align="center" class="heading"><b>Fair Car Value Estimator</b></p>
<div align="center">
    <form action="{{ url_for('predict')}}" method="POST">
        <div class="b"><b>Model Year</b><br>
            <input class="a" type="Number" name ="Year" required="required"></div>

        <div class="b"><b>Brand Name</b><br>
            <select name="Brand_Name" class="a">
                <option value="2">BMW</option>
                <option value="5">Mercedes-Benz</option>
                <option value="6">Audi</option>
                <option value="4">Ford</option>
                <option value="1">Holden</option>
                <option value="3">Hyundai</option>
                <option value="0">Nissan</option>
            </select></div>

        <div class="b"><b>Model Name</b><br>
            <select name="Model_Name" class="a">
            <option value="22">3 Series</option>
            <option value="34">5 Series</option>
            <option value="47">7 Series</option>
            <option value="21">X1</option>
            <option value="24">X2</option>
            <option value="20">X3</option>
            <option value="23">X4</option>
            <option value="4">X5</option>
            <option value="10">X6</option>
            <option value="39">X7</option>
            <option value="42">A-Class</option>
            <option value="31">C-Class</option>
            <option value="35">E-Class</option>
            <option value="44">S-Class</option>
            <option value="32">G-class</option>
            <option value="37">GLA-Class</option>
            <option value="28">GLC-Class</option>
            <option value="19">GLE-Class</option>
            <option value="41">GLS-Class</option>
            <option value="45">A3</option>
            <option value="33">A4</option>
            <option value="43">Q7</option>
            <option value="26">Acadia</option>
            <option value="30">Accent</option>
            <option value="25">Astra</option>
            <option value="3">Captiva</option>
            <option value="14">EcoSport</option>
            <option value="11">Elantra</option>
            <option value="27">Endura</option>
            <option value="5">Equinox</option>
            <option value="17">Escape</option>
            <option value="16">Everest</option>
            <option value="13">Focus</option>
            <option value="0">Juke</option>
            <option value="7">Kona</option>
            <option value="8">Pathfinder</option>
            <option value="1">Patrol</option>
            <option value="9">Qashqai</option>
            <option value="18">Santa Fe</option>
            <option value="29">Sonata</option>
            <option value="6">Trailblazer</option>
            <option value="15">Trax</option>
            <option value="12">Tucson</option>
            <option value="38">Venue</option>
            <option value="2">X-TRAIL</option>
            <option value="46">i40</option>
        </select></div>

        <div class="b"><b>Odometer</b><br>
            <input type="Number" name="Odometer" required="required" class="a"></div>

        <div class="b"><b>Condition</b><br>
            <select name="Condition" class="a">
                <option value="1">1 - Excellent</option>
                <option value="2">2 - Very Good</option>
                <option value="3">3 - Fair</option>
                <option value="4">4 - Poor</option></select></div>

        <div class="c" align="center"><button type="submit" class="d">Calculate Fair Value!</button></div>
    </form></div>
<p align="center" class="heading">{{ prediction_text }}</p>

<p>© 2021 PHOTOGRAM ALL RIGHTS RESERVED</p>
</body>
</html>
